<div class="container span8 offset2">
  <h1>Pruebas Ember.js con Rails</h1>

  <p>Prueba de concepto de una application rails ejerciendo de servidor REST de una api de busqueda de películas y actores.</p>
  <p>Utiliza ember.js y handlebars.js para todo el sistema de front </p>

  <p>DEMO -> <a class="blue" src="http://still-taiga-2200.herokuapp.com/"> pulsar aquí</a></p>

  <p>Codigo fuente -> https://github.com/villanopack/ember-rails-example <a href="https://github.com/villanopack/ember-rails-example">pulsar aquí</a></p>

</div>

